<div class="login-container">
  <div class="login-wrap p-b-50 p-t-30">
    <span class="login-title p-b-41">ACCOUNT LOGIN</span>
    <form action="" class="login-form p-b-33 p-t-5">
      <div class="">
        <input type="text" class="login-form-input p-t-30 p-r-10 p-b-30 p-l-10" placeholder="Login Id">
      </div>
      <div class="">
        <input type="password" class="login-form-input p-t-30 p-r-10 p-b-30 p-l-10" placeholder="Password">
      </div>
      <div class="login-submit-container m-t-32">
        <button type="submit" class="login-btn">LOGIN</button>
      </div>
    </form>
  </div>
</div>
