<h1>Add a new post</h1>
<div class="container">
	<form class="" [formGroup] = "addPostForm" >
		<div class="row form-group">
			<div>
				<label class="col-sm-2">Post Title</label>
			</div>
			<div class="col-sm-5">
				<input type="text" class="form-control" formControlName="title">
			</div>
		</div>
		<div class="row form-group">
			<div>
				<label class="col-sm-2">Post Description</label>
			</div>
			<div class="col-sm-5">
				<textarea name="name" cols="80" formControlName="description"></textarea>
			</div>
		</div>
		<div class="row form-group">
			<div>
				<label class="col-sm-2">Upload file</label>
			</div>
			<div class="col-sm-9">
				<div class="upload-file-cover row">
					<div class="drop-image-cover col-sm-6">
						<input type="file" class="drop-image" (change)="previewFile()" />
						<P class="drag-msg">Drag &amp; Drop File Here</P>
					</div>
					<div class="image-cover col-sm-6">
						<img src="" alt="Image preview..." id="upload-image">
					</div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div>
				<label class="col-sm-2">Tags</label>
			</div>
			<div class="col-sm-5">
				<textarea name="name" cols="80" formControlName="tags"></textarea>
			</div>
		</div>
		<div class="row form-group">
			<div>
				<label class="col-sm-2">Publish ?</label>
			</div>
			<div class="col-sm-5">
				<input type="checkbox" formControlName= "published"/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<button class="btn btn-primary" type="button" name="button" [disabled]="disabledSaveBtn"  (click)="save()">Save</button>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" type="button" name="button" (click)="publish()">Publish</button>
			</div>
		</div>


	</form>
</div>
